.price-banner {
    height: 130px;
    background-color: #eeeedd;
    box-shadow: 0px 0px 6px 2px rgb(237, 229, 229);
    margin-top: 30px;
    border: 1px solid rgb(237, 229, 229);
    margin-bottom: 30px;
}
.price-banner .image-pdf {
    margin-left: 20px;
    margin-top: 21px;
    float: left;
}
.price-banner-label {
    background: url(../images/price-banner-label.png) no-repeat;
    width: 116px;
    height: 83px;
    float: right;
    margin-top: 22px;
    position: relative;
    left: 6px;
}
.price-banner-label-text {
    margin-top: 32px;
    margin-left: 33px;
    color: white;
    font-size: 13px;
}
.banner {
    margin-bottom: 30px;
    background-color: #ffffff;
    border: 1px solid rgb(233, 244, 233);
}
.banner.novelty, .banner.list{
    height: initial;
}
.banner.novelty .banner-content, .banner.list .banner-content{
    padding-bottom: 0px;
}
.banner-header {
    background-color: #546075;
    display: block;
    padding: 12px 16px 10px;
    font-weight: bold;

}
.banner-header:hover{
    text-decoration: none;
}
.banner-header > *{
    color: #ffffff;
}
.banner-header-all {
    float: right;
    text-decoration: underline;
}
.banner-content {
    background-color: white;
    padding: 17px 20px 0px;
}
.banner.list.with-numbers .number {
    position: absolute;
    right: 0;
    top: -1px;
    bottom: 0;
    margin: auto;
    display: block;
    height: 14px;
}
.banner.list.with-numbers .banner-content .text-wrap{
    margin-right: 40px;
}
.banner.list.with-numbers .banner-content a:hover .number {
    color: #23527c;
}
.banner.certificate .banner-content{
    background-color: white;
    padding: 15px 10px;
}
.banner.blog .banner-content > a:hover .text-wrap, .banner.novelty .banner-content > a:hover .text-wrap, .banner.list .banner-content > a:hover .text-wrap , .banner.list .banner-content > a.active .text-wrap, .shift-link:hover .text-wrap{
    position: relative;
    left: 11px;
    top: 0px;
}
.banner.blog .banner-content .text-wrap, .banner.novelty .banner-content .text-wrap , .banner.list .banner-content .text-wrap, .shift-link .text-wrap {
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 8px;
    line-height: 17px;
}
@supports (-moz-appearance:meterbar) {
    .banner .glyphicon.glyphicon-menu-right::before {
        position: absolute;
        top: 1px;
    }
    .banner.blog .banner-content .glyphicon.glyphicon-menu-right, .banner.novelty .banner-content .glyphicon.glyphicon-menu-right, .banner.list .banner-content .glyphicon.glyphicon-menu-right, .shift-link .glyphicon.glyphicon-menu-right{
        top: 10px !important;
    }
}
.banner.blog .banner-content a, .banner.novelty .banner-content a , .banner.list .banner-content a {
    text-decoration: none;
    display: block;
    position: relative;
}
.shift-link{
    position: relative;
}
.banner.blog .banner-content > a:hover .glyphicon.glyphicon-menu-right, .banner.novelty .banner-content > a:hover .glyphicon.glyphicon-menu-right , .banner.list .banner-content > a:hover .glyphicon.glyphicon-menu-right, .banner.list .banner-content > a.active .glyphicon.glyphicon-menu-right, .shift-link:hover .glyphicon.glyphicon-menu-right {
    display: inline;
}
div#cboxContent {
     padding-top: 40px;
 }
.banner.blog .banner-content, .banner.novelty .banner-content , .banner.list .banner-content {
    padding-bottom: 10px;
    padding-top: 8px;
}
.banner.blog .banner-content .glyphicon.glyphicon-menu-right, .banner.novelty .banner-content .glyphicon.glyphicon-menu-right , .banner.list .banner-content .glyphicon.glyphicon-menu-right, .shift-link .glyphicon.glyphicon-menu-right{
    font-size: 9px;
    color: #2285C6;
    display: none;
    position: absolute;
    left: 0px;
    top: 11px;
}
.banner-content-title {
    font-size: 14px;
    margin: 0px 15px 10px;
}
.banner-more.float-right {
    margin-top: 20px;
}
.banner-content-image {
    height: 153px;
    display: block;
}
.banner-content.banner-content-carousel{
    padding-top: 14px;
}
#banner-carousel .carousel-indicators {
    bottom: -38px;
}
#banner-carousel .carousel-indicators li{
    vertical-align: middle;
    border: 0px;
    margin: 0 2px;
}
#banner-carousel .item {
    height: 306px;
}
#banner-carousel .item img:nth-child(1) {
    opacity: 0.6;
}
#banner-carousel .item img:nth-child(2) {
     position: absolute;
     top: 0px;
     left: 0px;
    z-index: 5;
 }
#banner-carousel .item img:nth-child(2):hover{
    opacity: 0;
}
.banner-carousel-title {
    font-size: 14px;
}
.banner-carousel-title {
    margin-bottom: 3px;
}
.banner-carousel-img-wrap:hover {
    background-color: rgb(114, 183, 244);
}
.banner-carousel-img-wrap {
    position: relative;
    background-color: #ffffff;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
#banner-carousel .glyphicon.glyphicon-search {
    width: 45px;
    height: 45px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    color: white;
    border-radius: 26px;
    background-color: #2285C6;
    padding-top: 17px;
    padding-left: 2px;
}
.banner.certificate {
    height: 400px;
}
.banner.list.category-list .banner-content{
    padding-top: 0;
    padding-bottom: 0;
}
.banner.category-list a.active {
    background-color: #E7F2F9;
    margin: 0 -20px;
    padding: 0 20px;
}
.banner.list.category-list .banner-content a.active .glyphicon-menu-right{
    left: 20px;
}
.banner.category-list a.active .number{
    right: 20px;
}
.banner.clarify-price .cart-button{
    display: block;
    width: 145px;
}
.banner.clarify-price .banner-header{
    font-weight: bold;
}
.banner.clarify-price .banner-content{
    padding: 17px 10px 0px;
}
.cart-button {

    -moz-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -msie-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 2px;
    height: 25px;
    padding: 0 10px;
    display: inline-block;
    font-size: 13px;
    color: rgb(34, 133, 198);
    cursor: pointer;
    margin: 15px auto 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}
.cart-button:hover {
    background-color: rgb(231, 242, 249);
}
.cart-button:active {
    background-color: rgb(34, 133, 198);
    color: white;
}
