
body{
    font-family: Arial,Georgia,Tahoma;
    font-style: normal;
    font-size: 12px;
}
.content-aside-wrap{
    position: relative;
    clear: both;
}
a{
    color: #2285C6;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    color: #1e1e1e;
}
h1{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
h2{
    font-size: 22px;
    line-height: 15px;
    margin-bottom: 20px;
}
h3{
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 20px;
}
h4{
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 20px;
}
h5{
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 20px;
}
h6{
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 20px;
}
button,
button:active,
button:focus {
    outline: none;
}
label{
    margin: 0;
}
a.link-as-text:hover {
    text-decoration: none;
    color: rgb(34, 133, 198);
}
a.link-as-text {
    color: inherit;
    cursor: pointer;
}
.middle-container-wrap{
    background-color: #f8faf8;
}
.underline{
    text-decoration: underline;
}
.row{
    position: relative;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.light-blue-text {
    color: #2285C6;
}
.red-text{
    color: #D46666;
}
.dotted{
    border-bottom: 1px dotted;
}
.bold{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.display-none{
    display: none;
}
.align-center{
    text-align: center;
}
.img-wrap{
    overflow: hidden;
    height: 100%;
    position: relative;
    display: block;
}
.img-wrap img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0px;
}

.rating-1-star {
    height: 17px;
    width: 18px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}
.rating-1-star .yellow-star{
    width: 50%;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
}
.rating-1-star .grey-star{
    position: absolute;
    top: 0px;
    left: 0px;
}
.feedback-thumb {
    text-indent: 16px;
    padding-top: 2px;
}
.slider-container{
    position: relative;
    left: 0px;
}
.slider-window {
    overflow: hidden;
    position: relative;
}
.slider-window-wrap {
    position: relative;
}
.left-rewind-grey{
    background-image: url(../images/left-rewind-grey.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: -17px;
}
.left-rewind-blue{
    background-image: url(../images/left-rewind-blue.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: -17px;
    opacity: 0;
    cursor: pointer;
}
.left-rewind-blue:hover{
    opacity: 1;
}
.right-rewind-grey{
    background-image: url(../images/right-rewind-grey.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: -17px;
}
.right-rewind-blue:hover{
    opacity: 1;
}
.right-rewind-blue{
    background-image: url(../images/right-rewind-blue.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: -17px;
    opacity: 0;
    cursor: pointer;
}
.upstairs-button:hover{
    color: #23527c;
}
.popular-products .upstairs-button{
    display: none;
}
.upstairs-button {
    background-image: url(../images/upstairs-arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 15px;
    background-position: right 4px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    color: #2285C6;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
}
.rating-stars{
    width: 95px;
    height: 20px;
    position: relative;
}
.rating-stars .icon-grey-stars{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
}
.rating-stars .icon-yellow-stars{
    position: absolute;
    top: 0;
    height: 16px;
    width: 60%;
}
.middle-container-wrap{
    padding-bottom: 67px;
    position: relative;
}
.plus-before::before {
    content: "+ ";
}
.plus-before.minus-before::before {
    content: "- ";
    position: relative;
    bottom: 2px;
    display: inline-block;
    margin-right: 6px;
}
.bc-home{
    display: inline-block;
    background: url(../images/bc-home.png) no-repeat center;
    width: 13px;
    height: 11px;
    vertical-align: middle;
}
.breadcrumbs {
    float: left;
    line-height: 30px;
    padding: 0;
    margin: 8px 0 19px 17px;
}
.breadcrumbs > li:not(:first-child):before{
    content: '>';
    padding: 0 7px;
    font-size: 14px;
    color: grey;
}
.breadcrumbs li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
.breadcrumbs a:hover{
    text-decoration: none;
}
.breadcrumbs a{
    cursor: pointer;
}
.brand-flag-us{
    background: url(../images/flags.png) no-repeat center -55px;
    width: 28px;
    height: 19px;
}
.brand-flag-fr{
    background: url(../images/flags.png) no-repeat center -84px;
    width: 28px;
    height: 19px;
}
.brand-flag-pl{
    background: url(../images/flags.png) no-repeat center -111px;
    width: 28px;
    height: 19px;
}
.dummy-checkbox {
    height: 15px;
    width: 15px;
    border: 1px solid #CDCDC8;
    cursor: pointer;
}
.link-button{
    color: #2285C6;
    cursor: pointer;
}
.link-button:hover{
    text-decoration: underline;
    color: #23527c;
}
.articles-in-the-subject {
    margin-top: 35px;
    border-top: 5px solid #E3E3DB;
}
.articles-in-the-subject .blog-item{
    margin-left: 0;
}
.articles-in-the-subject .title, .video-in-the-subject .title{
    font-weight: bold;
    margin: 25px 0 0 10px;
}
.video-in-the-subject .title{
    margin-bottom: 10px;
}

.video-item{
    position: relative;
    padding-bottom: 45%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-in-the-subject .wrap{
    width: 50%;
}
.video-item iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-in-the-subject .wrap {
    width: 49%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 2%;
    border: 1px solid transparent;
}
.video-in-the-subject .wrap:hover {
    border-color: #E2E3E3;
    cursor: pointer;
}
.video-in-the-subject .wrap:nth-child(2n-1){
    float: left;
}
.video-in-the-subject .wrap:nth-child(2n){
    float: right;
}
.video-in-the-subject {
    margin-right: 20px;
}
.scroll-button {
    cursor: pointer;
    font-size: 13px;
}
.scroll-button > * {
    display: inline-block; 
}
.scroll-button span:hover {
    color: #23527c;
}
.scroll-button span {
    color: #2285C6;
}

.panel {
    margin-bottom: 0;
    background-color:transparent;
    border: none;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.green-button{
    border-radius: 3px;
    background-color: #7CC9A9;
    box-shadow: 1px 1.732px 3px 0px rgb(159, 148, 148);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 41px;
    padding: 0 20px;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    position: relative;
}
.green-button.active:hover{
    background-color: #32b57d;
}
.green-button.active{
    background-color: rgb( 42, 168, 114 );
    box-shadow: 0px 2px 3px 0px rgba(4, 4, 4, 0.58);
    cursor: pointer;
}
.green-button.active:active{
    transform: translate(0,2px);
    box-shadow: none;
}
.input-wrap{
    display: inline-block;
    position: relative;
}
.input-wrap textarea,
.input-wrap input[type=text] {
    border: 1px solid rgb( 219, 219, 219 );
    background-color: rgb( 255, 255, 255 );
    width: 100%;
    height: 30px;
    padding: 0 10px;
}
.input-wrap.input-required:before {
    content: '*';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 20px;
    color: #FF2424;
    font-size: 19px;
}
.ordering input[type="text"]{
    padding: 0 12px;
}
input.disabled{
    opacity: 0.5;
    color: transparent;
}
label.custom-radio {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #D6D8D8;
    box-shadow: inset 2px 2px 6px -1px #D4D4D4;
    margin-right: 10px;
}
input:checked+label.custom-radio {
    border: 1px solid rgba(45, 114, 232, 0.8);
    box-shadow: inset 2px 2px 7px 1px #2380CF;
}
.big-stars{
    position: relative;
    cursor: pointer;
    width: 150px;
    display: inline-block;
}
.big-grey-stars {
    position: absolute;
    top: 1px;
    left: -2px;
    overflow: hidden;
}
.big-yellow-stars {
    z-index: 4;
    position: relative;
    overflow: hidden;
    width: 50%;
}
.big-grey-stars .wrap > div {
    float: left;
    margin-left: 4px;
}
.big-yellow-stars .wrap > div {
    float: left;
}
.big-yellow-stars .wrap ,
.big-yellow-stars .wrap {
    width: 170px;
}
.pagination {
    display: inline-block;
    margin: 20px 0 0px 106px;
}
.wc-pagination-wrap{
    display: inline-block;
}
.woocommerce-pagination {
    display: inline-block;
    margin-left: 106px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.woocommerce-pagination .page-numbers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.woocommerce-pagination li {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
}
.woocommerce-pagination .page-numbers.current {
    color: #2285CB !important;
    font-weight: bold;
    border-bottom: 2px solid #2285C6 !important;
    background-color: transparent !important;
}
.woocommerce-pagination-load-more {
    display: none;
}
.malinky-ajax-pagination-loading {
    height: 0 !important;
    position: relative !important;
    top: -47px !important;
    margin: 0 !important;
}
.malinky-ajax-pagination-loading img {
    width: 70px !important;
    height: 70px !important;
}
.malinky-load-more{
    display: none !important;
}
