/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-bc-home {
  background-image: url(../images/spritesheet.png);
  background-position: -288px -218px;
  width: 12px;
  height: 11px;
}
.icon-brand-flag-de {
  background-image: url(../images/spritesheet.png);
  background-position: -112px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-dk {
  background-image: url(../images/spritesheet.png);
  background-position: -140px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-es {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -56px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-fi {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -28px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-fr {
  background-image: url(../images/spritesheet.png);
  background-position: -275px 0px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-gb {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-it {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -84px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-jp {
  background-image: url(../images/spritesheet.png);
  background-position: -28px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-knr {
  background-image: url(../images/spritesheet.png);
  background-position: -224px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-nl {
  background-image: url(../images/spritesheet.png);
  background-position: -196px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-pl {
  background-image: url(../images/spritesheet.png);
  background-position: -168px -244px;
  width: 28px;
  height: 28px;
}
.icon-brand-flag-us {
  background-image: url(../images/spritesheet.png);
  background-position: -84px -244px;
  width: 28px;
  height: 28px;
}
.icon-brend-flag-ca {
  background-image: url(../images/spritesheet.png);
  background-position: -56px -244px;
  width: 28px;
  height: 28px;
}
.icon-cart-hover {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -141px;
  width: 41px;
  height: 41px;
}
.icon-carusel-nav-active {
  background-image: url(../images/spritesheet.png);
  background-position: -290px -201px;
  width: 13px;
  height: 13px;
}
.icon-carusel-nav {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -218px;
  width: 13px;
  height: 13px;
}
.icon-cross-close-blue {
  background-image: url(../images/spritesheet.png);
  background-position: -286px -231px;
  width: 11px;
  height: 11px;
}
.icon-cross-close-red {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -112px;
  width: 19px;
  height: 19px;
}
.icon-cross-close-white {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -231px;
  width: 11px;
  height: 11px;
}
.icon-cross-close {
  background-image: url(../images/spritesheet.png);
  background-position: -292px -168px;
  width: 11px;
  height: 11px;
}
.icon-empty-cart {
  background-image: url(../images/spritesheet.png);
  background-position: -41px -158px;
  width: 29px;
  height: 21px;
}
.icon-full-cart {
  background-image: url(../images/spritesheet.png);
  background-position: -70px -158px;
  width: 29px;
  height: 21px;
}
.icon-grey-star {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -185px;
  width: 18px;
  height: 16px;
}
.icon-grey-stars {
  background-image: url(../images/spritesheet.png);
  background-position: -41px -141px;
  width: 96px;
  height: 17px;
}
.icon-left-rewind-blue {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -182px;
  width: 35px;
  height: 35px;
}
.icon-left-rewind-grey {
  background-image: url(../images/spritesheet.png);
  background-position: -207px -104px;
  width: 35px;
  height: 35px;
}
.icon-maestro {
  background-image: url(../images/spritesheet.png);
  background-position: -69px -104px;
  width: 69px;
  height: 37px;
}
.icon-mastercard {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -104px;
  width: 69px;
  height: 37px;
}
.icon-pay-system {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -84px;
  width: 183px;
  height: 20px;
}
.icon-price-banner-label-long {
  background-image: url(../images/spritesheet.png);
  background-position: -121px 0px;
  width: 154px;
  height: 55px;
}
.icon-price-banner-label {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 121px;
  height: 84px;
}
.icon-right-rewind-blue {
  background-image: url(../images/spritesheet.png);
  background-position: -35px -182px;
  width: 35px;
  height: 35px;
}
.icon-right-rewind-grey {
  background-image: url(../images/spritesheet.png);
  background-position: -70px -182px;
  width: 35px;
  height: 35px;
}
.icon-russian_lang {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -150px;
  width: 18px;
  height: 18px;
}
.icon-search {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -131px;
  width: 18px;
  height: 19px;
}
.icon-sort-brends {
  background-image: url(../images/spritesheet.png);
  background-position: -105px -182px;
  width: 35px;
  height: 26px;
}
.icon-swirl-arrow-hover {
  background-image: url(../images/spritesheet.png);
  background-position: -242px -104px;
  width: 31px;
  height: 27px;
}
.icon-swirl-arrow {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -217px;
  width: 31px;
  height: 27px;
}
.icon-thumb {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -201px;
  width: 15px;
  height: 17px;
}
.icon-upstairs-arrow {
  background-image: url(../images/spritesheet.png);
  background-position: -293px -131px;
  width: 10px;
  height: 10px;
}
.icon-visa {
  background-image: url(../images/spritesheet.png);
  background-position: -138px -104px;
  width: 69px;
  height: 37px;
}
.icon-yellow-star {
  background-image: url(../images/spritesheet.png);
  background-position: -275px -168px;
  width: 17px;
  height: 17px;
}
.icon-yellow-stars {
  background-image: url(../images/spritesheet.png);
  background-position: -121px -55px;
  width: 96px;
  height: 17px;
}
